@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
}

* {
    box-sizing: border-box;
    -webkit-user-drag: none;
}

:root {
    --font-size-base: 1rem;
    --font-size-md: 1.3rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.2rem;

    --spacing: 0.25rem;
    --text-bolder: 35px 35px rgba(0, 0, 0, 0.25);

    --content-color: #f1f5f9;

    background: #0a0a0a;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;

    font-size: 20px;
}
@media screen and (max-width: 640px) {
    :root {
        font-size: 16px;
    }
}
@media screen and (max-width: 400px) {
    :root {
        font-size: 14px;
    }
}

body {
    position: fixed;
    font-family: Arial, sans-serif;
    background: #0a0a0a;

    color: var(--content-color);

    margin: 0;
    height: 100dvh;
    width: 100dvw;
    
    overflow: hidden;
}

.background-grid {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    background-image: 
        linear-gradient(0deg, rgba(255, 255, 255, 0.1) 1px, rgba(0, 0, 0, 0) 1px), 
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, rgba(0, 0, 0, 0) 1px);

    background-size: 60px 60px;
}

/* ------ font ------ */
.font-share-tech-mono {
    font-family: 'Share Tech Mono', monospace;
}

/* ------ scrollbar ------ */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    margin-top: 12px;
    margin-bottom: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #404040;
    opacity: 0.1;
    border-radius: 20px;
    transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b8b8b8;
}
