@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
}

* {
    box-sizing: border-box;
    -webkit-user-drag: none;
}

:root {
    --font-size-base: 1rem;
    --font-size-md: 1.3rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.2rem;

    --spacing: 0.25rem;
    --text-bolder: 35px 35px rgba(0, 0, 0, 0.25);

    --content-color: #f1f5f9;

    background: #080808;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;

    font-size: 20px;
}
@media screen and (max-width: 640px) {
    :root {
        font-size: 16px;
    }
}
@media screen and (max-width: 400px) {
    :root {
        font-size: 14px;
    }
}

body {
    position: fixed;
    font-family: Arial, sans-serif;
    background: #080808;

    color: var(--content-color);

    margin: 0;
    height: 100vh;
    width: 100vw;
    
    overflow: hidden;
}

.font-share-tech-mono {
    font-family: 'Share Tech Mono', monospace;
}

/* ------ scrollbar ------ */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    margin: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 20px;
    transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b8b8b8;
}
