---
import MainNavigation from '../components/MainNavigation.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<MainNavigation />

	<div class="w-full h-full pt-12 overflow-y-auto overflow-x-hidden">
		施工中...
	</div>
</Layout>
