---
---

<div class="absolute top-0 left-0 w-full px-4 md:px-10 flex justify-between align-middle bg-linear-to-b from-[#080808] to-black/0 z-999">
        <div class="font-share-tech-mono font-bold py-4 text-lg" onclick="location.href='/zjans';">ZJANS</div>

        <!-- MenuBar -->
        <div class="hidden gap-8 md:flex">
            <button class="font-share-tech-mono py-4 hover:text-zinc-400 duration-100 text-lg" onclick='location.href="/zjans/guide"'>ZJ Guide</button>
            <button class="font-share-tech-mono py-4 hover:text-zinc-400 duration-100 text-lg" onclick='location.href="/zjans/answers"'>Answers</button>
            <button class="font-share-tech-mono py-4 hover:text-zinc-400 duration-100 text-lg" onclick='location.href="/zjans/categorize"'>Categorize</button>
            <span class="my-5 px-1 border-l-2"></span>
            <button class="font-share-tech-mono py-4 hover:text-zinc-400 duration-100 text-lg" onclick='location.href="https://discord.gg/GWEmUwaSFG"'>Discord</button>
            <button class="font-share-tech-mono py-4 hover:text-zinc-400 duration-100 text-lg" onclick='location.href="https://github.com/lbc0841/zjans"'>GitHub</button>
        </div>

        <!-- HamburgerMenu -->
        <div class="hamburger-menu block md:hidden mx-2">
            <input type="checkbox" id="toggler" />
        
            <label for="toggler">
                <i id="hamburger" class="fa-solid fa-bars py-4"></i>
            </label>
        
            <div id="main-nav-links-hamburger" class="main-nav-links-hamburger">
                <div class="mb-6">
                    <button class="block text-xl my-2 w-34" onclick='location.href="/zjans"'><i class="w-6 pr-8 fa-solid fa-house"></i>Home</button>
                    <button class="block text-xl my-2 w-34" onclick='location.href="/zjans/guide"'><i class="w-6 pr-8 fa-solid fa-book"></i>ZJ Guide</button>
                    <button class="block text-xl my-2 w-34" onclick='location.href="/zjans/answers"'><i class="w-6 pr-8 fa-solid fa-code"></i>Answers</button>
                    <button class="block text-xl my-2 w-34" onclick='location.href="/zjans/categorize"'><i class="w-6 pr-8 fa-solid fa-layer-group"></i>Categorize</button>
                </div>
            </div>
        </div>
</div>

<style>
    #toggler {
        display: none;
    }
    
    .hamburger-menu {
        color: rgb(255, 255, 255);
    }
    
    .hamburger-menu #hamburger {
        display: inline-block;
    }
    .hamburger-menu #close {
        display: none;
    }
    #toggler:checked + .hamburger-menu #hamburger {
        display: none;
    }
    #toggler:checked + .hamburger-menu #close {
        display: inline-block;
    }
    
    .main-nav-links-hamburger {
        position: absolute;
        top: 0;
        left: 0;
    
        width: 100dvw;
        height: 100dvh;
    
        max-width: 0;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    
        padding-top: 8rem;
        background-color: rgba(0, 0, 0, 0.8);
    
        color: white;
    
        transition: all 0.1s ease-in;
    }
    
    #toggler:checked ~ .main-nav-links-hamburger {
        max-width: 240px;
    }
</style>
    
<script>
    const mainNavHamburger = document.getElementById("main-nav-links-hamburger");
    const toggler = document.getElementById("toggler") as HTMLInputElement;
    
    document.addEventListener("click", (e) => {
    
        const target = e.target as HTMLElement;
        if(!mainNavHamburger?.contains(target) && e.target != toggler){
            toggler.checked = false;
        }
    });
</script>
    
