---
import AnsLayout from '../../layouts/AnsLayout.astro';
import MainNavigation from '../../components/MainNavigation.astro';

import { getCollection } from 'astro:content';
import { render } from 'astro:content';

export async function getStaticPaths() {
    const allPosts = await getCollection('ans_cpp');
    return allPosts.map(post => {
        const slug = post.id.replace(/\.mdx?$/, '');
    
        return {
            params: { 
                slug: slug
            },
            props: { 
                post 
            }
        }
    });
}

const { post } = Astro.props;
const { Content } = await render(post);

const difficultyText = ["Beginner", "Easy", "Medium", "Hard"];
const difficultyColor = [
    "text-green-500 border-green-500",
    "text-yellow-500 border-yellow-500",
    "text-orange-500 border-orange-500",
    "text-red-500 border-red-500"
];

const dateOptions: object = {
	year: "numeric",
	month: "2-digit",
	day: "2-digit",
};

---

<AnsLayout>
    <MainNavigation/>
    <div class="h-full w-full p-2 overflow-y-auto overflow-x-hidden">
        <div class="max-w-250 mx-auto pb-10">
            <h1 class="mx-4 mt-16">{post.data.title}</h1>
            
            <div class="ml-4 mb-6 mt-1">
                <span class={`p-1 rounded-sm border-2 opacity-70 ${difficultyColor[post.data.difficulty]}`}>{difficultyText[post.data.difficulty]}</span>
                <small class="mx-2 mb-4 text-zinc-500">{`Last Update: ${post.data.date.toLocaleString("zh-TW", dateOptions)}`}</small>
            </div>

            <div class="mx-4 mb-8 flex gap-2">
                {
                    (post.data.tags ? post.data.tags : []).map(tag => (
                        <span class="text-xs rounded-2xl bg-blue-900 px-3 py-2">{tag}</span>
                    ))
                }
            </div>
            
            <Content />
        </div>
    </div>

</AnsLayout>