---
import "../styles/global.css"

const themeColor = "#0b171d"; 
const baseUrl = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content={themeColor}>

		<!-- sitemap -->
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- favicon -->
		<link rel="canonical" href="https://lbc0841.github.io/zjans/">
		<link rel="icon" type="image/svg+xml" href={`${baseUrl}/favicon.svg`} />
		<link rel="icon" href={`${baseUrl}/favicon.ico`} />

		<!-- font: Share+Tech+Mono -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Share+Tech+Mono&display=swap">

		<!-- KaTeX -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">

		<!-- font-awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
			integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
			crossorigin="anonymous" referrerpolicy="no-referrer" />

		
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="ZJANS 是一個專門放置 ZeroJudge 題解的網頁，提供 C++ 的參考答案與解題思路，目前僅收錄 150+ 題解，未來將持續更新。">

		<title>ZJANS</title>
	</head>

	<body>
		<slot />
	</body>
</html>

